- title "ambience - app configuration feat. yaml and jvm properties"

%h1 ambience
%h2= t "apps.ambience.tagline"

%ul
  %li= link_to "documentation", "http://rdoc.info/projects/rubiii/ambience", :class => "green"
  %li= link_to "github", "http://github.com/rubiii/ambience"
  %li.last= link_to "rubygems", "http://rubygems.org/gems/ambience"

= render "shared/articles", :articles => @articles unless @articles.empty?