%h1.rubiii rubiii

%h3 projects
%h4
  = link_to "savon", home_url(:subdomain => "savon")
  %p heavy metal ruby soap client library
%h4
  = link_to "ambience", home_url(:subdomain => "ambience")
  %p app configuration feat. yaml and jvm properties


%h3 profiles
%ul
  %li= link_to "twitter", "http://twitter.com/rubiii"
  %li= link_to "github", "http://github.com/rubiii"
  %li.last= link_to "xing", "https://www.xing.com/profile/Daniel_Harrington"