- title "savon - heavy metal ruby soap client library"

%h1.savon savon
%h2= t "apps.savon.tagline"

%ul
  %li= link_to "documentation", latest_docs_url
  %li= link_to "github", "http://github.com/rubiii/savon"
  %li= link_to "rubygems", "http://rubygems.org/gems/savon"
  %li.last= link_to "ruby toolbox", "http://www.ruby-toolbox.com/categories/soap.html"